   

/* Your Website Styles */
h1 {
	
	color: lightcyan;
	;
background-color: black;
font-size: 1.75em;
letter-spacing: -1.5px;
font-family: 'open sans', sans-serif;
;
}
h2{
	color: black;
	font-size: 1.75 em;

}
img{
	width: 300px;
	margin: 0 0 20px 0;
	background: lightcyan;
}



        a { color: black; background: lightcyan; padding: 5px 10px; margin: 30px 0px; float: none; } a:hover { background-color: black; color: lightcyan; }

#bio {color: black; 

font-family: 'open sans', sans-serif;
	}


/* Show Grid */
.showgrid {
	
}
body{
	font-family: 'open sans', sans-serif;

}

.btn {
	color: black;
	background: lightcyan;
	padding: 5px 10px;
	margin: 30px 0px;
	border-radius: 25px
	text-transform: uppercase;
}

.btn:hover {
	background-color: black;
	color: lightcyan;

}







